
<ion-content [fullscreen]="true">
  
  <div id="container">
    
      <ion-button (click)="scheduleNotification()"> Schedule Notification</ion-button>
  
      <ion-button (click)="cancelNotification()"> Cancel Notification</ion-button>
      
      <ion-button (click)="removeAllDeliveredNotifications()">Remove All Delivered Notifications</ion-button>
      
      <ion-button (click)="getDeliveredNotifications()">Get Delivered Notifications</ion-button>
      
      <ion-button (click)="createChannel()">Create Channel</ion-button>
      
      <ion-button (click)="listChannel()">List Channel</ion-button>
      
      
    </div>
</ion-content>
